<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrwho.mybatisjava.mapper.CtCompanyInfoJiaoyuMapper">
  <resultMap id="BaseResultMap" type="mrwho.mybatisjava.entity.CtCompanyInfoJiaoyu">
    <!--@mbg.generated-->
    <!--@Table ct_company_info_jiaoyu-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="organization_id" jdbcType="VARCHAR" property="organizationId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="industry_dept" jdbcType="VARCHAR" property="industryDept" />
    <result column="industry_dept_id" jdbcType="VARCHAR" property="industryDeptId" />
    <result column="industry_type" jdbcType="VARCHAR" property="industryType" />
    <result column="unified_social_credit_code" jdbcType="VARCHAR" property="unifiedSocialCreditCode" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
    <result column="fire_manage_id" jdbcType="VARCHAR" property="fireManageId" />
    <result column="charge_fire_supervisor" jdbcType="VARCHAR" property="chargeFireSupervisor" />
    <result column="assist_fire_supervisor" jdbcType="VARCHAR" property="assistFireSupervisor" />
    <result column="company_type" jdbcType="VARCHAR" property="companyType" />
    <result column="fire_systems" jdbcType="VARCHAR" property="fireSystems" />
    <result column="construction_unit" jdbcType="VARCHAR" property="constructionUnit" />
    <result column="check_unit" jdbcType="VARCHAR" property="checkUnit" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="maintenance_unit_id" jdbcType="VARCHAR" property="maintenanceUnitId" />
    <result column="map_type" jdbcType="INTEGER" property="mapType" />
    <result column="company_icon" jdbcType="VARCHAR" property="companyIcon" />
    <result column="org_license_time" jdbcType="TIMESTAMP" property="orgLicenseTime" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="work_num" jdbcType="INTEGER" property="workNum" />
    <result column="fixed_assets" jdbcType="FLOAT" property="fixedAssets" />
    <result column="economic_ownership" jdbcType="VARCHAR" property="economicOwnership" />
    <result column="unit_area" jdbcType="FLOAT" property="unitArea" />
    <result column="total_building_area" jdbcType="FLOAT" property="totalBuildingArea" />
    <result column="monitor_level" jdbcType="INTEGER" property="monitorLevel" />
    <result column="fire_manage_tel" jdbcType="VARCHAR" property="fireManageTel" />
    <result column="rescue_department" jdbcType="VARCHAR" property="rescueDepartment" />
    <result column="monitor_type" jdbcType="VARCHAR" property="monitorType" />
    <result column="network_status" jdbcType="CHAR" property="networkStatus" />
    <result column="access_date" jdbcType="TIMESTAMP" property="accessDate" />
    <result column="fire_danger" jdbcType="VARCHAR" property="fireDanger" />
    <result column="fire_supervisor" jdbcType="VARCHAR" property="fireSupervisor" />
    <result column="fire_supervisor_tel" jdbcType="VARCHAR" property="fireSupervisorTel" />
    <result column="max_mum_people" jdbcType="VARCHAR" property="maxMumPeople" />
    <result column="is_automatic_fire" jdbcType="VARCHAR" property="isAutomaticFire" />
    <result column="fire_fighters_mum" jdbcType="VARCHAR" property="fireFightersMum" />
    <result column="floor_mum" jdbcType="VARCHAR" property="floorMum" />
    <result column="refuge_layer" jdbcType="VARCHAR" property="refugeLayer" />
    <result column="refuge_level_location" jdbcType="VARCHAR" property="refugeLevelLocation" />
    <result column="emergency_mum" jdbcType="VARCHAR" property="emergencyMum" />
    <result column="evacuation_mum" jdbcType="INTEGER" property="evacuationMum" />
    <result column="fire_elevators_mum" jdbcType="INTEGER" property="fireElevatorsMum" />
    <result column="fire_lanes_mum" jdbcType="INTEGER" property="fireLanesMum" />
    <result column="fire_lane_location" jdbcType="VARCHAR" property="fireLaneLocation" />
    <result column="commercial_projects" jdbcType="VARCHAR" property="commercialProjects" />
    <result column="layer_numbers" jdbcType="VARCHAR" property="layerNumbers" />
    <result column="scope_of_business" jdbcType="VARCHAR" property="scopeOfBusiness" />
    <result column="contractual_status" jdbcType="CHAR" property="contractualStatus" />
    <result column="company_profile" jdbcType="VARCHAR" property="companyProfile" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="fire_safe_person" jdbcType="VARCHAR" property="fireSafePerson" />
    <result column="fire_safe_person_id" jdbcType="VARCHAR" property="fireSafePersonId" />
    <result column="fire_safe_person_tel" jdbcType="VARCHAR" property="fireSafePersonTel" />
    <result column="fire_safe_manager" jdbcType="VARCHAR" property="fireSafeManager" />
    <result column="fire_safe_manager_id" jdbcType="VARCHAR" property="fireSafeManagerId" />
    <result column="fire_safe_manager_tel" jdbcType="VARCHAR" property="fireSafeManagerTel" />
    <result column="fptime_fire_manager" jdbcType="VARCHAR" property="fptimeFireManager" />
    <result column="fptime_fire_manager_id" jdbcType="VARCHAR" property="fptimeFireManagerId" />
    <result column="fptime_fire_manager_tel" jdbcType="VARCHAR" property="fptimeFireManagerTel" />
    <result column="corporator" jdbcType="VARCHAR" property="corporator" />
    <result column="corporator_id" jdbcType="VARCHAR" property="corporatorId" />
    <result column="corporator_tel" jdbcType="VARCHAR" property="corporatorTel" />
    <result column="monitor_center_id" jdbcType="VARCHAR" property="monitorCenterId" />
    <result column="social_center_id" jdbcType="VARCHAR" property="socialCenterId" />
    <result column="third_id" jdbcType="VARCHAR" property="thirdId" />
    <result column="third_data_id" jdbcType="VARCHAR" property="thirdDataId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_dept" jdbcType="VARCHAR" property="createDept" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="evaluation_level" jdbcType="VARCHAR" property="evaluationLevel" />
    <result column="area_boundary" jdbcType="VARCHAR" property="areaBoundary" />
    <result column="rescue_department_charger" jdbcType="VARCHAR" property="rescueDepartmentCharger" />
    <result column="rescue_department_charger_tel" jdbcType="VARCHAR" property="rescueDepartmentChargerTel" />
    <result column="street_fire_supervisor" jdbcType="VARCHAR" property="streetFireSupervisor" />
    <result column="community_fire_supervisor" jdbcType="VARCHAR" property="communityFireSupervisor" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="company_license" jdbcType="VARCHAR" property="companyLicense" />
    <result column="operator_license" jdbcType="VARCHAR" property="operatorLicense" />
    <result column="company_pics" jdbcType="VARCHAR" property="companyPics" />
    <result column="kitchen_area" jdbcType="FLOAT" property="kitchenArea" />
    <result column="school_type" jdbcType="INTEGER" property="schoolType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, organization_id, company_name, industry_dept, industry_dept_id, industry_type, 
    unified_social_credit_code, area_code, address, grid_code, fire_manage_id, charge_fire_supervisor, 
    assist_fire_supervisor, company_type, fire_systems, construction_unit, check_unit, 
    latitude, longitude, maintenance_unit_id, map_type, company_icon, org_license_time, 
    postal_code, work_num, fixed_assets, economic_ownership, unit_area, total_building_area, 
    monitor_level, fire_manage_tel, rescue_department, monitor_type, network_status, 
    access_date, fire_danger, fire_supervisor, fire_supervisor_tel, max_mum_people, is_automatic_fire, 
    fire_fighters_mum, floor_mum, refuge_layer, refuge_level_location, emergency_mum, 
    evacuation_mum, fire_elevators_mum, fire_lanes_mum, fire_lane_location, commercial_projects, 
    layer_numbers, scope_of_business, contractual_status, company_profile, remarks, fire_safe_person, 
    fire_safe_person_id, fire_safe_person_tel, fire_safe_manager, fire_safe_manager_id, 
    fire_safe_manager_tel, fptime_fire_manager, fptime_fire_manager_id, fptime_fire_manager_tel, 
    corporator, corporator_id, corporator_tel, monitor_center_id, social_center_id, third_id, 
    third_data_id, is_deleted, create_user, create_time, update_user, update_time, create_dept, 
    `status`, evaluation_level, area_boundary, rescue_department_charger, rescue_department_charger_tel, 
    street_fire_supervisor, community_fire_supervisor, `operator`, company_license, operator_license, 
    company_pics, kitchen_area, school_type
  </sql>
</mapper>