<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrwho.mybatisjava.mapper.JpjgInfoGenMapper">
  <resultMap id="BaseResultMap" type="mrwho.mybatisjava.entity.JpjgInfoGen">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <id column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="people" jdbcType="VARCHAR" property="people" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="zg_company_code" jdbcType="VARCHAR" property="zgCompanyCode" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="zw_code" jdbcType="VARCHAR" property="zwCode" />
    <result column="fire_code" jdbcType="VARCHAR" property="fireCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_name, area_name, address, people, phone, zg_company_code, area_code, 
    latitude, longitude, zw_code, fire_code
  </sql>
</mapper>