<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrwho.mybatisjava.mapper.RegionMapper">
  <resultMap id="BaseResultMap" type="mrwho.mybatisjava.entity.Region">
    <!--@mbg.generated-->
    <!--@Table blade_region_scratch-->
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="ancestors" jdbcType="LONGVARCHAR" property="ancestors" />
    <result column="tree_names" jdbcType="LONGVARCHAR" property="treeNames" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
    <result column="district_name" jdbcType="VARCHAR" property="districtName" />
    <result column="town_code" jdbcType="VARCHAR" property="townCode" />
    <result column="town_name" jdbcType="VARCHAR" property="townName" />
    <result column="village_code" jdbcType="VARCHAR" property="villageCode" />
    <result column="village_name" jdbcType="VARCHAR" property="villageName" />
    <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
    <result column="grid_name" jdbcType="VARCHAR" property="gridName" />
    <result column="region_level" jdbcType="INTEGER" property="regionLevel" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tree_level" jdbcType="INTEGER" property="treeLevel" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="max_lng" jdbcType="DECIMAL" property="maxLng" />
    <result column="max_lat" jdbcType="DECIMAL" property="maxLat" />
    <result column="min_lng" jdbcType="DECIMAL" property="minLng" />
    <result column="min_lat" jdbcType="DECIMAL" property="minLat" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_dept" jdbcType="VARCHAR" property="createDept" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="center_lng" jdbcType="DECIMAL" property="centerLng" />
    <result column="center_lat" jdbcType="DECIMAL" property="centerLat" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    code, `name`, parent_code, ancestors, tree_names, province_code, province_name, city_code, 
    city_name, district_code, district_name, town_code, town_name, village_code, village_name, 
    grid_code, grid_name, region_level, sort, remark, tree_level, `status`, max_lng, 
    max_lat, min_lng, min_lat, create_user, create_dept, create_time, update_user, update_time, 
    is_deleted, center_lng, center_lat
  </sql>
  <insert id="batchInsert" parameterType="mrwho.mybatisjava.entity.Region">
    <!--@mbg.generated-->
    insert into blade_region_scratch
    (code, `name`, parent_code, ancestors, tree_names, province_code, province_name,
    city_code, city_name, district_code, district_name, town_code, town_name, village_code,
    village_name, grid_code, grid_name, region_level, sort, remark, tree_level, `status`,
    max_lng, max_lat, min_lng, min_lat, create_user, create_dept, create_time, update_user,
    update_time, is_deleted, center_lng, center_lat)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.parentCode,jdbcType=VARCHAR},
      #{item.ancestors,jdbcType=LONGVARCHAR}, #{item.treeNames,jdbcType=LONGVARCHAR},
      #{item.provinceCode,jdbcType=VARCHAR}, #{item.provinceName,jdbcType=VARCHAR}, #{item.cityCode,jdbcType=VARCHAR},
      #{item.cityName,jdbcType=VARCHAR}, #{item.districtCode,jdbcType=VARCHAR}, #{item.districtName,jdbcType=VARCHAR},
      #{item.townCode,jdbcType=VARCHAR}, #{item.townName,jdbcType=VARCHAR}, #{item.villageCode,jdbcType=VARCHAR},
      #{item.villageName,jdbcType=VARCHAR}, #{item.gridCode,jdbcType=VARCHAR}, #{item.gridName,jdbcType=VARCHAR},
      #{item.regionLevel,jdbcType=INTEGER}, #{item.sort,jdbcType=INTEGER}, #{item.remark,jdbcType=VARCHAR},
      #{item.treeLevel,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER}, #{item.maxLng,jdbcType=DECIMAL},
      #{item.maxLat,jdbcType=DECIMAL}, #{item.minLng,jdbcType=DECIMAL}, #{item.minLat,jdbcType=DECIMAL},
      #{item.createUser,jdbcType=VARCHAR}, #{item.createDept,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateUser,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.isDeleted,jdbcType=INTEGER},
      #{item.centerLng,jdbcType=DECIMAL}, #{item.centerLat,jdbcType=DECIMAL})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2024-03-18-->
  <insert id="insertList">
    INSERT INTO blade_region_scratch(
    code,
    `name`,
    parent_code,
    ancestors,
    tree_names,
    province_code,
    province_name,
    city_code,
    city_name,
    district_code,
    district_name,
    town_code,
    town_name,
    village_code,
    village_name,
    region_level,
    sort,
    tree_level
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.code,jdbcType=VARCHAR},
      #{element.name,jdbcType=VARCHAR},
      #{element.parentCode,jdbcType=VARCHAR},
      #{element.ancestors,jdbcType=LONGVARCHAR},
      #{element.treeNames,jdbcType=LONGVARCHAR},
      #{element.provinceCode,jdbcType=VARCHAR},
      #{element.provinceName,jdbcType=VARCHAR},
      #{element.cityCode,jdbcType=VARCHAR},
      #{element.cityName,jdbcType=VARCHAR},
      #{element.districtCode,jdbcType=VARCHAR},
      #{element.districtName,jdbcType=VARCHAR},
      #{element.townCode,jdbcType=VARCHAR},
      #{element.townName,jdbcType=VARCHAR},
      #{element.villageCode,jdbcType=VARCHAR},
      #{element.villageName,jdbcType=VARCHAR},
      #{element.gridCode,jdbcType=VARCHAR},
      #{element.gridName,jdbcType=VARCHAR},
      #{element.regionLevel,jdbcType=INTEGER},
      #{element.sort,jdbcType=INTEGER},
      #{element.remark,jdbcType=VARCHAR},
      #{element.treeLevel,jdbcType=INTEGER},
      #{element.status,jdbcType=INTEGER},
      #{element.maxLng,jdbcType=DECIMAL},
      #{element.maxLat,jdbcType=DECIMAL},
      #{element.minLng,jdbcType=DECIMAL},
      #{element.minLat,jdbcType=DECIMAL},
      #{element.createUser,jdbcType=VARCHAR},
      #{element.createDept,jdbcType=VARCHAR},
      #{element.createTime,jdbcType=TIMESTAMP},
      #{element.updateUser,jdbcType=VARCHAR},
      #{element.updateTime,jdbcType=TIMESTAMP},
      #{element.isDeleted,jdbcType=INTEGER},
      #{element.centerLng,jdbcType=DECIMAL},
      #{element.centerLat,jdbcType=DECIMAL}
      )
    </foreach>
  </insert>
</mapper>