<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrwho.mybatisjava.mapper.RegiontblMapper">
  <resultMap id="BaseResultMap" type="mrwho.mybatisjava.entity.Regiontbl">
    <!--@mbg.generated-->
    <!--@Table regiontbl-->
    <id column="regionid" jdbcType="BIGINT" property="regionid" />
    <result column="namecn" jdbcType="VARCHAR" property="namecn" />
    <result column="namepy" jdbcType="VARCHAR" property="namepy" />
    <result column="abbrcn" jdbcType="VARCHAR" property="abbrcn" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="officername" jdbcType="VARCHAR" property="officername" />
    <result column="officerphone" jdbcType="VARCHAR" property="officerphone" />
    <result column="xposition" jdbcType="BIGINT" property="xposition" />
    <result column="yposition" jdbcType="BIGINT" property="yposition" />
    <result column="offsetx" jdbcType="DOUBLE" property="offsetx" />
    <result column="offsety" jdbcType="DOUBLE" property="offsety" />
    <result column="scale" jdbcType="DOUBLE" property="scale" />
    <result column="version" jdbcType="DOUBLE" property="version" />
    <result column="labelposition" jdbcType="INTEGER" property="labelposition" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="regiontype" jdbcType="INTEGER" property="regiontype" />
    <result column="parentregionid" jdbcType="BIGINT" property="parentregionid" />
    <result column="regioncode" jdbcType="VARCHAR" property="regioncode" />
    <result column="serviceorder" jdbcType="INTEGER" property="serviceorder" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="ticketprefix" jdbcType="VARCHAR" property="ticketprefix" />
    <result column="adminid" jdbcType="BIGINT" property="adminid" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="regionno" jdbcType="VARCHAR" property="regionno" />
    <result column="areano" jdbcType="VARCHAR" property="areano" />
    <result column="namemoniker" jdbcType="VARCHAR" property="namemoniker" />
    <result column="codemoniker" jdbcType="VARCHAR" property="codemoniker" />
    <result column="old_id" jdbcType="BIGINT" property="oldId" />
    <result column="old_parentid" jdbcType="BIGINT" property="oldParentid" />
    <result column="migsource" jdbcType="VARCHAR" property="migsource" />
    <result column="system_title" jdbcType="INTEGER" property="systemTitle" />
    <result column="net_title" jdbcType="VARCHAR" property="netTitle" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sourceregionid" jdbcType="BIGINT" property="sourceregionid" />
    <result column="sourceparentid" jdbcType="BIGINT" property="sourceparentid" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="region_level" jdbcType="INTEGER" property="regionLevel" />
    <result column="full_region_id" jdbcType="VARCHAR" property="fullRegionId" />
    <result column="areacode" jdbcType="VARCHAR" property="areacode" />
    <result column="is_real_region" jdbcType="INTEGER" property="isRealRegion" />
    <result column="is_child_node" jdbcType="INTEGER" property="isChildNode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    regionid, namecn, namepy, abbrcn, address, officername, officerphone, xposition, 
    yposition, offsetx, offsety, `scale`, version, labelposition, background, regiontype, 
    parentregionid, regioncode, serviceorder, comments, ticketprefix, adminid, `alias`, 
    regionno, areano, namemoniker, codemoniker, old_id, old_parentid, migsource, system_title, 
    net_title, `status`, sourceregionid, sourceparentid, org_id, region_level, full_region_id, 
    areacode, is_real_region, is_child_node
  </sql>
</mapper>