<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrwho.mybatisjava.mapper.SupMerchantNodeTblMapper">
  <resultMap id="BaseResultMap" type="mrwho.mybatisjava.entity.SupMerchantNodeTbl">
    <!--@mbg.generated-->
    <!--@Table sup_merchant_node_tbl-->
    <id column="MERCHANT_NODE_ID" jdbcType="BIGINT" property="merchantNodeId" />
    <result column="TENANT_ID" jdbcType="BIGINT" property="tenantId" />
    <result column="MERCHANT_NODE_NAME" jdbcType="VARCHAR" property="merchantNodeName" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="NODE_TYPE" jdbcType="TINYINT" property="nodeType" />
    <result column="PROVINCE_REGION_ID" jdbcType="BIGINT" property="provinceRegionId" />
    <result column="CITY_REGION_ID" jdbcType="BIGINT" property="cityRegionId" />
    <result column="DISTRICT_REGION_ID" jdbcType="BIGINT" property="districtRegionId" />
    <result column="STREET_REGION_ID" jdbcType="BIGINT" property="streetRegionId" />
    <result column="REGION_INFO" jdbcType="VARCHAR" property="regionInfo" />
    <result column="REGION_INFO_ID" jdbcType="VARCHAR" property="regionInfoId" />
    <result column="DETAIL_ADRESS" jdbcType="VARCHAR" property="detailAdress" />
    <result column="LONGITUDE" jdbcType="VARCHAR" property="longitude" />
    <result column="LATITUDE" jdbcType="VARCHAR" property="latitude" />
    <result column="SUP_STATUS" jdbcType="TINYINT" property="supStatus" />
    <result column="CONTACTS" jdbcType="VARCHAR" property="contacts" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="OVERALL_SCORE" jdbcType="FLOAT" property="overallScore" />
    <result column="VISIT_CNT" jdbcType="BIGINT" property="visitCnt" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="path_name" jdbcType="VARCHAR" property="pathName" />
    <result column="QR_CODE" jdbcType="VARCHAR" property="qrCode" />
    <result column="ANNUAL_GRADE" jdbcType="VARCHAR" property="annualGrade" />
    <result column="SAFETY_GRADE" jdbcType="VARCHAR" property="safetyGrade" />
    <result column="SAVE_STATES" jdbcType="VARCHAR" property="saveStates" />
    <result column="CURR_SAFTY_GRADE" jdbcType="VARCHAR" property="currSaftyGrade" />
    <result column="Merchant_TYPE" jdbcType="INTEGER" property="merchantType" />
    <result column="Merchant_SUB_TYPE" jdbcType="INTEGER" property="merchantSubType" />
    <result column="LICENSE" jdbcType="VARCHAR" property="license" />
    <result column="OPEN_STATUS" jdbcType="TINYINT" property="openStatus" />
    <result column="H5_QR_CODE" jdbcType="VARCHAR" property="h5QrCode" />
    <result column="quantification_grade" jdbcType="INTEGER" property="quantificationGrade" />
    <result column="risk_level" jdbcType="INTEGER" property="riskLevel" />
    <result column="static_score" jdbcType="VARCHAR" property="staticScore" />
    <result column="operating_state" jdbcType="INTEGER" property="operatingState" />
    <result column="regulation_id" jdbcType="BIGINT" property="regulationId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="phoneEncrypt" jdbcType="VARCHAR" property="phoneencrypt" />
    <result column="device_count" jdbcType="BIGINT" property="deviceCount" />
    <result column="MERCHANT_NODE_CODE" jdbcType="VARCHAR" property="merchantNodeCode" />
    <result column="canteen_cnt_ck" jdbcType="INTEGER" property="canteenCntCk" />
    <result column="admin_type" jdbcType="VARCHAR" property="adminType" />
    <result column="admin_code" jdbcType="VARCHAR" property="adminCode" />
    <result column="is_city_manage" jdbcType="TINYINT" property="isCityManage" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    MERCHANT_NODE_ID, TENANT_ID, MERCHANT_NODE_NAME, PARENT_ID, `PATH`, NODE_TYPE, PROVINCE_REGION_ID, 
    CITY_REGION_ID, DISTRICT_REGION_ID, STREET_REGION_ID, REGION_INFO, REGION_INFO_ID, 
    DETAIL_ADRESS, LONGITUDE, LATITUDE, SUP_STATUS, CONTACTS, PHONE, OVERALL_SCORE, VISIT_CNT, 
    CREATETIME, UPDATETIME, `STATUS`, path_name, QR_CODE, ANNUAL_GRADE, SAFETY_GRADE, 
    SAVE_STATES, CURR_SAFTY_GRADE, Merchant_TYPE, Merchant_SUB_TYPE, LICENSE, OPEN_STATUS, 
    H5_QR_CODE, quantification_grade, risk_level, static_score, operating_state, regulation_id, 
    sort, phoneEncrypt, device_count, MERCHANT_NODE_CODE, canteen_cnt_ck, admin_type, 
    admin_code, is_city_manage
  </sql>

  <select id="selectSupMerchantNodeTblWithRegion" resultType="mrwho.mybatisjava.entity.SupMerchantNodeTblWithRegion">
    select a.*,blade_region.code
    from (select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.PROVINCE_REGION_ID
            and sup_merchant_node_tbl.CITY_REGION_ID is null
            and DISTRICT_REGION_ID is null
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'
          union

          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.CITY_REGION_ID
            and DISTRICT_REGION_ID is null
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'

          union
          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.DISTRICT_REGION_ID
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'
          union
          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.STREET_REGION_ID
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点') as a left join blade_region on a.namecn = blade_region.name
    limit 1000
  </select>

  <select id="selectSupMerchantNodeTblCount" resultType="java.lang.Long">

    select count(a.MERCHANT_NODE_NAME)
    from (select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.PROVINCE_REGION_ID
            and sup_merchant_node_tbl.CITY_REGION_ID is null
            and DISTRICT_REGION_ID is null
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'
          union

          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.CITY_REGION_ID
            and DISTRICT_REGION_ID is null
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'

          union
          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.DISTRICT_REGION_ID
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'
          union
          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.STREET_REGION_ID
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点') as a
  </select>

  <select id="selectSupMerchantNodeTblWithRegionByLimit"
          resultType="mrwho.mybatisjava.entity.SupMerchantNodeTblWithRegion">
    select a.*
    from (select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.PROVINCE_REGION_ID
            and sup_merchant_node_tbl.CITY_REGION_ID is null
            and DISTRICT_REGION_ID is null
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'
          union
          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.CITY_REGION_ID
            and DISTRICT_REGION_ID is null
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'
          union
          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.DISTRICT_REGION_ID
            and STREET_REGION_ID is null
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点'
          union
          select MERCHANT_NODE_NAME,
                 regiontbl.namecn,
                 MERCHANT_NODE_CODE,
                 LONGITUDE,
                 LATITUDE,
                 DETAIL_ADRESS,
                 CONTACTS,
                 PHONE,
                 Merchant_TYPE,
                 sup_merchant_node_tbl.STATUS
          from sup_merchant_node_tbl
                 left join regiontbl on regiontbl.regionid = sup_merchant_node_tbl.STREET_REGION_ID
          where regiontbl.namecn is not null
            and MERCHANT_NODE_NAME != '默认商家节点') as a
    limit #{start},#{offset}

  </select>
</mapper>